fastapi
uvicorn
python-multipart
python-dotenv
pydantic

# LangChain
langchain
langchain-community
langchain-google-genai
langchain-pinecone
langchain-text-splitters

# Google Gemini
google-generativeai

# Pinecone
pinecone-client

# Supabase
supabase

# PDF parsing
pypdf