fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic

# LangChain
langchain
langchain-classic
langchain-community
langchain-google-genai
langchain-pinecone
langchain-text-splitters
# Google Gemini
google-generativeai
langchain-google-genai

# Pinecone
pinecone-client

# Supabase
supabase

routers
# PDF parsing
pypdf
fastapi

